{% extends 'store/layout/main.html' %}
<!-- Bootstrap CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a0/Moto_Gp_logo.svg/1200px-Moto_Gp_logo.svg.png" width="60" height="30"/>
        motogpmerch</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div 
        class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/daftar-penjual/">Penjual</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/profilproduk/collections">Produk</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/bukti-pembayaran/">Pembayaran</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/review-produk/">Review</a>
          </li>
      </div>
    </div>
</nav>
    {% include 'store/inc/slider.html' %}
    <div class="py-3 bg-primary">
        <div class="container">
         
            <a class="text-white" href="{% url 'collections'%}"> Collections /</a>
            <a class="text-white" href="{% url 'collectionsview' products.category.slug%} "> {{ products.category.name}} /</a>
            <a class="text-white" href="{% url 'productview' products.category.slug products.slug%}"> {{ products.name}}</a>
        </div>
    </div>


<div class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class ="card shadow">
                    <div class ="card-body">
                        <div class ="row">
                            <div class ="col-md-4">
                                {% if products.tag %}
                                    <label class="product-viewtag">{{products.tag}}</label>
                                {% endif %}
                                <img src="{{products.product_image.url}}" class="w-100" alt="image">
                            </div>
                            <div class="col-md-8">
                                <h2 class="mb-0">
                                    {{products.name}}
                                    {% if products.trending%}
                                        <label style="font-size : 16px;" class="float-end badge bg-danger trending_tag"> Trending </label>
                                    {% endif %}  
                                </h2>
                                <hr>
                                <label class="me-3">Harga Asli : <s>RP {{products.original_price | stringformat:'d'}}</s></label>
                                <label class="fw-bold">Harga Jual : RP {{products.selling_price | stringformat:'d'}}</label>   
                                <p class="mt-3">
                                         {{products.small_description}}
                                </p>
                                <hr>
                                {% if products.quantity > 0 %}
                                        <label class="badge bg-success">In Stock</label>
                                {% else %}
                                        <label class="badge bg-danger">Out of Stock</label>
                                {% endif %}
                                <div class="row mt-2">
                                    <div class="col-md-3">
                                        <label for="Quantity">Quantity</label>
                                        <div class="input-group text-center mb-3" style="width:130px;">
                                            <button class ="input-group-tect decrement-btn">-</button>
                                            <input type="text" name="Quantity" class="form-control text-center" value="1">
                                            <button class ="input-group-tect increment-btn">+</button>
                                        </div>
                                        <div class="col-md-9">
                                            <br/>
                                            {% if products.quantity > 0 %}
                                                 <button type="button" class="btn btn-primary me-3 float-start">Add to Cart <i class="fa fa-shooping-cart"></i></button>
                                            {% endif %}
                                                 <button type="button" class="btn btn-success me-3 float-start">Add to Wishlist <i class="fa fa-heart"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <hr>
                                <h3>Deskripsi Produk</h3>
                                <p class="mt=3">
                                    {{products.description}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

{% endblock %}
                            





















