<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>MotoGP</title>
  </head>
  <body>
    <th>Daftar Merchant</th>
    <table>
      <tr>
        <th>ID Number</th>
        <th>Name</th>
        <th>Email</th>
        <th>Address</th>
      </tr>
      {% for merchant in Merchant %}
      <tr>
        <td>{{merchant.id_number}}</td>
        <td>{{merchant.name}}</td>
        <td>{{merchant.email}}</td>
        <td>{{merchant.address}}</td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
