<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    
    <title>daftar-produk</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a0/Moto_Gp_logo.svg/1200px-Moto_Gp_logo.svg.png" width="60" height="30"/>
          motogpmerch</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div 
          class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/daftar-penjual/">Penjual</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/profilproduk/collections">Produk</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/bukti-pembayaran/">Pembayaran</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/review-produk/">Review</a>
            </li>
        </div>
      </div>
    </nav>
    <th>Daftar Produk</th>
    <table>
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Review</th>
            </tr>
        </thead>  
      {% for product in products %}
      <tr>
        <td>{{product.name}}</td>
        <td><a href="/review-produk/">Click untuk lihat review!</a></td>
      </tr>
      {% endfor %}
    </table>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  </body>
</html>